.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    Register
    .row
      .col
        = button_to 'Sign in', new_session_path, method: :get, class: 'btn btn-secondary'

  .card-body
    = simple_form_for :registration, url: registration_path, remote: true, html: {id: :registration_form} do |f|
      = f.input :token, required: true
      = f.submit 'Register using WebAuthn', class: 'btn btn-primary mt-2'
