%h5.card-header.d-flex.justify-content-between.align-items-center
  Tags
  = button_to 'Add', new_tag_path, class: 'btn btn-primary', method: :get

.card-body
  .card-group
    - @tags.each do |tag|
      = render partial: 'tag_card', locals: {tag: tag}
