.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    Foods
    = button_to 'Add', new_food_path, class: 'btn btn-primary', method: :get

  .card-body
    .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-5
      - @foods.each do |food|
        = render partial: 'food_card', locals: {food: food}
